<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
    <script th:src="@{/js/bootstrap.bundle.min.js}"
            src="js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7c81c98f88a9f144bdb2e7127ea696c7&libraries=services"></script>
</head>
<body>
<header>
    <!-- 사이드바 호출 토글 버튼 -->
    <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebars" aria-controls="sidebars">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-list"
             viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
    </button>

    <!-- 사이드 바 시작 -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="sidebars" aria-labelledby="menu">

        <!--   사이드바 헤더     -->
        <div class="offcanvas-header">
            <!-- 드랍 다운을 이용한 회원 정보 토글 -->
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false" sec:authentication="name">
                    사용자 아이디
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <form class="dropdown-item" th:action="@{/logout}" method="post">
                            <button type="submit" class="btn">로그 아웃</button>
                        </form>
                    </li>
                </ul>
            </div>

            <!-- 사이드바 닫기 -->
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <!--  사이드바 body      -->
        <div class="offcanvas-body">
            <!-- 네비게이션 바-->
            <nav class="nav flex-column">
                <a class="nav-link" href="#">Active</a>
                <a class="nav-link" href="#">설정</a>
            </nav>
        </div>
    </div>
</header>
<section>
    <div class="container-fluid flex-column">
        <div class="d-flex mb-2">
            <input class="form-control me-2" type="text" id="location" placeholder="동네" aria-label="찾기">
            <button class="btn btn-outline-dark" type="button" onclick="inputLocation()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
            </button>
        </div>
        <!-- 지도 출력 -->
        <div id="map" style="width:100%;height:350px;">map</div>
    </div>
</section>
</body>
<style>
    .nav-link {
        color: black;
    }
</style>
<script>
    // 마커를 클릭하면 장소명을 표출할 인포윈도우 입니다
    var infowindow = new kakao.maps.InfoWindow({zIndex:1});

    // 동네 검색 변수
    var location

    var container = document.getElementById('map');
    var options = {
        center: new kakao.maps.LatLng(33.450701, 126.570667),
        level: 3
    };

    // 지도 생성
    var map = new kakao.maps.Map(container, options);

    // 줌 컨트롤러 지도에 추가
    var zoomControl = new kakao.maps.ZoomControl();
    map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

    // 장소 검색 서비스 객체 생성
    var ps = new kakao.maps.services.Places();
    // 키워드로 장소를 검색합니다

    // 키워드 검색 완료 시 호출되는 콜백함수 입니다
    function placesSearchCB (data, status, pagination) {
        if (status === kakao.maps.services.Status.OK) {

            // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
            // LatLngBounds 객체에 좌표를 추가합니다
            var bounds = new kakao.maps.LatLngBounds();

            for (var i=0; i<data.length; i++) {
                displayMarker(data[i]);
                bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));
            }

            // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
            map.setBounds(bounds);
        }
    }

    // 지도에 마커를 표시하는 함수입니다
    function displayMarker(place) {

        // 마커를 생성하고 지도에 표시합니다
        var marker = new kakao.maps.Marker({
            map: map,
            position: new kakao.maps.LatLng(place.y, place.x)
        });

        // 마커에 클릭이벤트를 등록합니다
        kakao.maps.event.addListener(marker, 'click', function() {
            // 마커를 클릭하면 장소명이 인포윈도우에 표출됩니다
            infowindow.setContent('<div style="padding:5px;font-size:12px;">' + place.place_name + '</div>');
            infowindow.open(map, marker);
        });
    }


    function inputLocation() {
        ps.keywordSearch(document.getElementById('location').value, placesSearchCB);
        console.log(document.getElementById('location').value);
        // console.log(typeof(location));
        console.log("찾기 버튼 클릭해썽요")
    }

    // HTML5의 geolocation으로 사용할 수 있는지 확인합니다
    if (navigator.geolocation) {

        // GeoLocation을 이용해서 접속 위치를 얻어옵니다
        navigator.geolocation.getCurrentPosition(function(position) {

            var lat = position.coords.latitude, // 위도
                lon = position.coords.longitude; // 경도

            var locPosition = new kakao.maps.LatLng(lat, lon), // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
                message = '<div style="padding:5px;">여기에 계신가요?!</div>'; // 인포윈도우에 표시될 내용입니다

            // 마커와 인포윈도우를 표시합니다
            displayMarker(locPosition, message);

        });

    } else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다

        var locPosition = new kakao.maps.LatLng(33.450701, 126.570667),
            message = 'geolocation을 사용할수 없어요..'

        displayMarker(locPosition, message);
    }
</script>
</html>